{% extends '_base.html' %}


{% block pagecontent %}

<div class='container-fluid'>
    <div class="form-group">
        {% from "security/_macros.html" import render_field_with_errors, render_field %}
        {% include "security/_messages.html" %}
        <h1>Login</h1>
        <p>Your username is your full email address</p>
        <p>Your default password is your 5 digit extension</p>
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          {{ render_field_with_errors(login_user_form.email) }}
          {{ render_field_with_errors(login_user_form.password) }}
          {{ render_field_with_errors(login_user_form.remember) }}
          {{ render_field(login_user_form.next) }}
          <button class="btn btn-default" type="submit">Log In</button>
        </form>
        <!-- {% include "security/_menu.html" %} -->
    </div>
</div>
{% endblock %}